* {
  margin: 0;
  padding: 0;
}

header {
  height: 5rem;
  
}
h1 {
  width: 20%;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
  border-bottom: 1px solid black;
}

form {

  width: 25%;
  margin: auto;
  padding: 1rem;
  padding-left: 3rem;
  background-color: rgba(211, 211, 211, 0.493);
  box-shadow: 2px 2px 5px black;
}

label {
  display: block;
  margin-bottom: 1rem;
}

button {
  width: 6rem;
  height: 1.5rem;
  margin-left: 2rem;
}
