* {
  margin: 0;
  padding: 0;
}

header {
  height: 5rem;
  
}
h1 {
  width: 20%;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
  border-bottom: 1px solid black;
}

main {
  background-color: lightgray;
  padding: 1rem 2rem ;
  width: 50%;
  margin: auto;
}

textarea {
  height: 3rem;
}

.checador {
  display: flex;
}
